body.full-screen {
	/* Make the body actually fill the screen, so that our map can too */
	height: 100%;
	width: 100%;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

div.full-screen {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

div.mini-map {
	width: 200px;
	height: 200px
}

.loading-message-container {
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-message-text{
	display:block;
	padding-left: 28px;
	padding-right: 28px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	font-family: sans-serif;
	font-size: large;
}

#loading-message-pane {
	z-index: 10;
}

.leaflet-container .leaflet-control-mapcentercoord, .leaflet-container .leaflet-control-mouseposition {
	background-color: rgba(255, 255, 255, 0.85);
}

/* for now, hide the attribution control on the mini map */
div.mini-map .leaflet-container .leaflet-control-attribution {
	display: none;
}

div#error-container {
	background-color: rgba(255, 143, 143, 0.9);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2000;
	margin: 5px;
	padding: 10px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	overflow: auto;
}

div#error-container p.title {
	font-family: sans-serif;
	font-style: italic;
	font-size: smaller;
	margin-top: 0px;
	margin-bottom: 8px;
}

div#error-container p.error {
	font-family: monospace;
	margin-top: 3px;
	margin-bottom: 3px;
}

div#error-container a#dismiss-button {
	font-family: sans-serif;
	font-size: smaller;
	float: right;
}

.full-screen-link a {
    font-family: sans-serif;
    font-size: smaller;
}

/* marker popups */

.popup-title {
    text-decoration: underline;
}

.popup-entry-key {
    font-weight: bold;
}

.popup-entry-list {
    list-style-position: inside;
    padding-left: 8px;
    margin-top: 0px;
}
